---
title: Griddle
---

<div class="grid-layout-control">
    <button class="button button--pink grid-toggle-button" id="grid-toggle-button">GRID</button>
    <button class="button button--blue layout-toggle-button" id="layout-toggle-button">LAYOUT</button>
</div>

<div class="container">

</div>