html {
    font-size: 18px;
    line-height: 32px;
    font-family: 'Helvetica', Arial, sans-serif;
}

h1 {
    font-size: 1.777777rem;
    line-height: 2.222222rem;
    margin: 0 0 $atom*2 $atom;
}

@media screen and (min-width: 384px){
    
}

@media screen and (min-width: 768px){
    
}

@media screen and (min-width: 1248px){
    
}