html, body {
    margin: 0;
    padding: 0;

    * {
        -webkit-tap-highlight-color: rgba(0,0,0,0) !important;
        -webkit-font-smoothing: antialiased;
        outline: 0 !important;
    }
}

@import '0_variables';
@import '1_mixins';
@import '2_placeholders';
@import '3_typography';

@import 'base';
@import 'grid';

@import 'partials/header';

@import 'media';
