@media screen and (min-width: 384px){
    .container {
        width: 384px;
    }
}

@media screen and (min-width: 480px){
    .container {
        width: 480px;
    }
}

@media screen and (min-width: 576px){
    .container {
        width: 576px;
    }
}

@media screen and (min-width: 672px){
    .container {
        width: 672px;
    }
}

@media screen and (min-width: 768px){
    .container {
        width: 768px;
    }
}

@media screen and (min-width: 864px){
    .container {
        width: 864px;
    }
}

@media screen and (min-width: 960px){
    .container {
        width: 960px;
    }
}

@media screen and (min-width: 1056px){
    .container {
        width: 1056px;
    }
}

@media screen and (min-width: 1152px){
    .container {
        width: 1152px;
    }
}

@media screen and (min-width: 1248px){
    .container {
        width: 1248px;
    }
}

@media screen and (min-width: 1344px){
    .container {
        width: 1344px;
    }
}

@media screen and (min-width: 1440px){
    .container {
        width: 1440px;
    }
}

@media screen and (min-width: 1536px){
    .container {
        width: 1536px;
    }
}

@media screen and (min-width: 1632px){
    .container {
        width: 1632px;
    }
}

@media screen and (min-width: 1728px){
    .container {
        width: 1728px;
    }
}



@media screen and (min-width: 1824px){
    .container {
        width: 1824px;
    }
}
@media screen and (min-width: 1920px){
    .container {
        width: 1920px;
    }
}
@media screen and (min-width: 2016px){
    .container {
        width: 2016px;
    }
}
@media screen and (min-width: 2112px){
    .container {
        width: 2112px;
    }
}
@media screen and (min-width: 2208px){
    .container {
        width: 2208px;
    }
}
@media screen and (min-width: 2304px){
    .container {
        width: 2304px;
    }
}
@media screen and (min-width: 2400px){
    .container {
        width: 2400px;
    }
}
@media screen and (min-width: 2496px){
    .container {
        width: 2496px;
    }
}
@media screen and (min-width: 2592px){
    .container {
        width: 2592px;
    }
}